<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>
      Meadowlark Travel
    </title>

    {{{sections.head}}}
  </head>

  <body>
    <div class='container'>
      <header>
        <div class='container'>
          <h1>
            Meadowlark Travel
          </h1>
          <img src='/img/logo.png' alt='Meadowlark Travel Logo' />
        </div>
      </header>

      <div class='container'>
        <h1>{{sections.title}}</h1>
        {{{body}}}
      </div>

      <footer>
        © 2022 Meadowlark Travel
      </footer>
    </div>

    {{{sections.script}}}
  </body>
</html>
