{{#section 'title'}}About Meadowlark Travel{{/section}}

<p>Welcome to Meadowlark Travel.</p>

{{#if fortune}}
  <p>
    Your fortune for the day:
  </p>
  <blockquote>
    {{fortune}}
  </blockquote>
{{/if}}