{{#section 'title'}}Welcome to Meadowlark Travel{{/section}}

<p>Welcome to Meadowlark Travel! Please sign up to our newsletter using either:</p>
<ul>
  <li><a href="/newsletter-signup">Old-school form submission</a>.</li>
  <li><a href="/newsletter">Async form submission (recommended)</a>.</li>
</ul>

<p>Also, please enter our Vacation Photo Contest using either:</p>
<ul>
  <li><a href="/contest/vacation-photo">Old-school form submission</a>.</li>
  <li><a href="/contest/vacation-photo-ajax">Async form submission (recommended)</a>.</li>
</ul>

<p><a href="/cart">shopping cart example</a></p>

<p>
  Questions? Checkout our
  <a href='/about' data-test-id='about'>About us</a>
  page!
</p>

{{> weather}}
