{{#section 'title'}}Section Test Page{{/section}}

{{#section 'head'}}
  <meta name='robots' content='noindex' />
{{/section}}

<p>
  We're testing some script stuff
</p>

{{#section 'script'}}
  <script>
    document.querySelector('body').insertAdjacentHTML('beforeEnd',
    '<small>(scripting works!)</small>')
  </script>
{{/section}}
